# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
__pycache__/
.vscode/

# Distribution files
build/
*.egg-info/
.eggs/
dist/

# Executables
*.swf
*.air
*.ipa
*.apk
